<%- include('./partials/header') %>

<h1 id="welcome">Welcome to Tacos & Piroshkis!</h1>
<img src="../public/images/piroshki.jpg">
<img src="../public/images/tacos.jpg">

<%- include('./partials/footer') %>